header{
	margin-bottom: 0;
}
#mainbox{
	position: relative;
	
}
.box{
  height: 200px;
  border-radius:  20px;
  position: relative;
  padding: 10px;  
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: #0DD6C7;
}
.box-btn{
  text-align: center;
  font-size: 80px;
  padding-top: 45px;
  color: #2A323F;
}
.btn-primary{
	background: #2A323F;
  color: #0DD6C7;
}
.modal-backdrop {
   background-color:  #2A323F;
   color: #0DD6C7;
}
.modal-content {
  background-color: #fff;
  color: #0DD6C7;
}
.modal-body {
  background-color:  #2A323F;
  color: #0DD6C7;
}
.next{
  border-radius: 20px 20px 20px 20px;
  width: 200px;
  background-color: #0dd6c7;
}