body{
  background-color: #2A323F;
}

.navbar-check{
  background-color: #0DD6C7;
}
.glyphicon-check{
  height: 80px;
}
a {
  color: #2A323F;
  text-decoration: none;
}
.open > .dropdown-menu {
  display: block;
  background-color: #0DD6C7;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #2A323F;
  color: #fff;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #2A323F;
  color: #fff;
}

.tasksSection, .categoriesSection {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

header{
  margin-bottom: 80px;
}
#mainbox{
  position: relative;
  
}
.box{
  height: 200px;
  border-radius:  30px;
  position: relative;
  padding: 10px;  
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: #0DD6C7;
}
.box-btn{
  text-align: center;
  font-size: 80px;
  padding-top: 45px;
  color: #2A323F;
  font: 100%;
}
.btn-primary{
  background: #2A323F;
  color: #0DD6C7;
}
.modal-backdrop {
   background-color:  #2A323F;
   color: #0DD6C7;
}
.modal-content {
  background-color: #fff;
  color: #0DD6C7;
}
.modal-body {
  background-color:  #2A323F;
  color: #0DD6C7;
}