/*style plantilla de tarea */
.degradado{
  border-radius: 20px 20px 0 0;
  background: #3b5761; 
  background: -moz-linear-gradient(top,  #3b5761 0%, #29303d 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b5761), color-stop(100%,#29303d));
  background: -webkit-linear-gradient(top,  #3b5761 0%,#29303d 100%); 
  background: -o-linear-gradient(top,  #3b5761 0%,#29303d 100%); 
  background: -ms-linear-gradient(top,  #3b5761 0%,#29303d 100%); 
  background: linear-gradient(to bottom,  #3b5761 0%,#29303d 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5761', endColorstr='#29303d',GradientType=0 ); 
  color: #fff;
  height: 200px;
  margin-left: 5px;
  margin-right: 5px;
}
.priority{
  margin-top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 20px 20px 20px 20px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px 2px #2A323F;
}
.task-date{

}
.task-content{
  min-height: 70px;
  margin-top: -10px;
  height: 100px;
  width: 90%;
  overflow-y:auto; 
  overflow-y:hidden;
  margin-bottom: 10px;
  margin-left: 20px;
}
.task-category{
  margin-top: -10px;
  margin-bottom: 10px;
}
.task-done{
  background-color: #d50000;
  height: 50px;
  border-radius: 0 0 0 20px;
/*  -webkit-transition:background-color 0.5s linear;  */
}
.task-done:hover{
  background-color: #76ff03;
}
.task-edit{
  background-color: red;
  height: 50px;
  border-radius: 0;
}
.task-delete{
  background-color: #fff;
  height: 50px;
  border-radius: 0 0 20px 0;
}